/GmailNotifier/bin/*
/GmailNotifier/obj/*
/GmailNotifierIconGenerator/bin/*
/GmailNotifierIconGenerator/obj/*
/GmailNotifierResources/Debug/*
/GmailNotifierResources/Release/*
Thumbs.db
*.suo
*.sdf
*.opensdf
*.filters
*.user
*.aps
